<%- contentFor('body') %>
<div class="grid">
  <% signesData.forEach((signe) => { %>
  <div class="s3">
    <a href="/horoscope/<%= signe.id %>" class="signe-card">
      <div class="signe-emoji"><%= signe.emoji %></div>
      <div class="signe-nom"><%= signe.nom %></div>
    </a>
  </div>
  <% }) %>
</div>
