<%- contentFor('body') %>
<section class="center-align large">
  <div class="large-space"></div>
  <div class="emoji" id="emoji"><%= emoji %></div>
  <p class="small-text center-align"></p>
    Cliquez sur l'émoji pour ressentir l'énergie vibratoi.re<sup>&reg;</sup>
  </p>
</section>

<%- contentFor('scripts') %>
<script >
  document.getElementById("emoji").addEventListener("click", () => {
    // Vibration du téléphone
    if (navigator.vibrate) {
      navigator.vibrate([
        420, 100, 420, 100, 420, 100, 420, 100, 420, 100, 420, 100, 420,
      ]);
    } else {
      alert(
        "Seul les Android peuvent transmettre l'énergie vibratoi.re, pas les iMachins 😅"
      );
    }
  });
</script>
